@charset "utf-8";

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 400px;
  margin: auto;
}

article {
  display: flex;
  justify-content: center;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

article.header1 {
  color: #444444;
  font-size: xx-large;
  font-size: xxx-large;
  text-shadow: 1px 2px 4px gray;
}

article.header2 {
  color: #444444;
  font-size: xx-large;
  text-shadow: 1px 2px 4px silver;
  margin-top: 2em;
}

article.talk > *:first-child {
  margin-top: auto;
  margin-bottom: auto;
  align-content: center;
}

article.talk > *:first-child img {
  width: 128px;
  height: 128px;
}

article.talk > *:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  padding: 1em;
  min-width: 100px;
  font-size: large;
  background: #FFF;
  border: solid 4px #555555;
  box-sizing: border-box;
  border-radius: 0.5em;
  align-content: center;
  flex-grow:1;
}

article.talk > *:last-child:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid white;
  z-index: 2;
}


article.talk > *:last-child:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555555;
  z-index: 1;
}

article.image {
  justify-content: center;
}

article.unordered-list, article.ordered-list, article.table, article.code {
  justify-content: left;
}

@media (min-width: 600px) {
  article.unordered-list, article.ordered-list, article.table, article.code {
    padding-left: calc(128px + 2em);
  }
}

article:not(.code) code {
  margin-right: 0.25em;
}

article:not(.code) code:not(:first-child) {
  margin-left: 0.25em;
}

article.code > pre {
  color: white;
  background-color: black;
  border-radius: 0.5em;
  padding: 1em;
  width: 100%;
  margin: 0;
}

article.code > pre > code {
  font-family: 'Terminal', 'Consolas', 'Monaco', monospace;
  white-space: break-spaces;
}

span.cursor {
  font-family: initial;
  animation: blink-cursor 1.25s infinite normal steps(1, end);
}

@keyframes blink-cursor {
  0% {
    color: white;
  }
  50% {
    color: transparent;
  }
}

span.revert {
  background-color: white;
  color: black;
}

